* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #d9d6c1;
  height: 80vh;
}

footer {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 10vh;
  
 
}

.topbot {
  height: 10vh;
}

.middle {
  height: 80vh;
}

.content {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-size: 1em;
  display: block;
  color: white;
  font-weight: 300;
}

p {
  font-size: 0.5em;
  font-weight: 500;
  color: #C3CAD9;
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  
 
  
  
}
